@{
    Layout = "_LayoutAdmin";
}
@model LessonModel
<h2>Dersi Sil</h2>
<hr />
<h4>Are you sure you want to delete the lesson named "@Model.Name"?</h4>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
    <a asp-action="Index" class="btn btn-primary btn-sm">Cancel</a>
</form>
